html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: rgb(27, 27, 27);
}
.ibm {
    z-index: 0;
    height: 100%;
    width: 100%;
    animation: glower 5s ease infinite;
    background-image: url("./ibm.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.flex-container {
    z-index: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item {
    color:ghostwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
    font-size: 300%;
    text-align: center;
}
@keyframes glower {
    50% {
      opacity: 0;
    }
  }